network:
  version: 2
  ethernets:
    ibp27s0:
      addresses:
        - {{ ib_addresses[inventory_hostname].port1 }}/16
    ibp157s0:
      addresses:
        - {{ ib_addresses[inventory_hostname].port2 }}/16
